<!DOCTYPE html>
<html>
<head>
	<title>New Providance</title>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<div class="menu1">
					<div class="button_menu">
						<div class="line_button"></div>
						<div class="line_button"></div>
						<div class="line_button"></div>
					</div>
					<div class="menu1_txt">
					<p class="txt_menu">Tour</p>
					<p class="txt_menu">Features</p>
					<p class="txt_menu">Pricing</p>
					</div>
				</div>
				<img src="img/logo.png" class="logo">
				<div class="menu2">
					
				</div>
			</div>
			<div class="offer">
				
			</div>
			<div class="h_iphone">
				
			</div>
		</div>
	</header>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<div class="section">
		<div class="container">
			
		</div>
	</div>
	<footer>
		<div class="container">
			
		</div>
	</footer>

</body>
</html>