* {font-family: 'Mulish', sans-serif;padding:0;margin:0;border:0}*,:after,:before{box-sizing:border-box}:active,:focus{outline:none}a:active,a:focus{outline:none}aside,footer,header,nav{display:block}body,html{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}button,input,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none; color: #000; font-weight: bold;}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}a{color: #333333;}


.container{
    width: 1110px;
    margin: 0 auto;
}
.bold{
    font-weight: bold;
}
.header_qna .container{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_qna{
    
    background-color: #F5FAFE;
}
.header_qna-other,
.header_qna-gift,
.header_qna-program{
    display: flex;
    align-items: center;
}
.header_qna-gift{
    margin-right: 98px;
}
.qna-gift,
.qna-star{
    margin-right: 20px;
}
.header_main .container{
    padding: 40px 0;
    justify-content: space-between;
    
}
.header_main .container,
.form-search,
.header_main-profile {
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.form-search{
    display: flex;
    margin-left: 108px;

    border-radius: 6px;
    width: 350px;
    height: 40px;
}
.form-search-input{
    background-color: #F5FAFE;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 15px;
}
.form-search-submit{
    background-color: #EC1F46;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 65px;
    height: 40px;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.form-search-submit:hover{
    box-shadow: 1px 1px 4px 1px #EC1F46;
}
.header_main-basket{
    margin-right: 53px;
    position: relative;
}
.header_main-basket button{
    background: none;
    width: 24px;
    height: 24px;
    /* position: relative; */
}
.header_main-basket::after{
    content: '2';
    color: #ffffff;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 50%;
    text-align: center;
    top: -7px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name{
    margin: 0 18px;
}
.header_nav{
    background-color: #0A223D;
}
.nav_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
}
.nav_li-a{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.nav_li-a:hover{
    color: #EC1F46;
}
.way{
    padding: 19px 0;
}
.way p{
    font-size: 12px;
}
.main_selected_hotel-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.selected_hotel-offer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selected_hotel-name{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    margin-top: 5px;
    margin-right: 14px;
}
.offer{
    width: 70px;
    height: 20px;
    border-radius: 3px;
    background-color: #EC1F46;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.selected_hotel-descript{
    font-size: 12px;
}
.selected_hotel-numb-rating{
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numb-rating-title{
    font-size: 8px;
    margin-bottom: 2px;
}
.numb-rating-number{
    font-weight: bold;
}
.numb-rating-number .rating-five{
    font-size: 10px;
}
.main_selected_hotel-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;

}
.main-information{
    width: 350px;
    height: 210px;
    background-color: #0A223D;
    border-radius: 8px;
    margin-bottom: 27px;
    padding: 26px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-between; */
}
.main-information-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_price-information p:first-child{
    font-size: 10px;
}
.main_start-price{
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
.quick-booking{
   
    font-size: 19px;
}
.main-map {
    width: 347px;
    height: 213px;
    border-radius: 10px;
    overflow: hidden;
}
.main_infor-room{
    margin-top: 8px;
    margin-bottom: 24px;
}
.main_infor-guests,
.main_infor-room,
.main_infor-number,
.main_infor-number-tel {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main_infor-number{
    margin-top: 9px;
    margin-bottom: 17px;
    justify-content: space-between;
}
.main_infor-guests p,
.main_infor-room p,
.main_infor-number-tel p{
    margin-left: 9px;

}
.main_infor-number-tel img{
    width: 14px;
    height: 14px;
}
.main_infor-number-tel p{
    font-size: 18px;
    font-family: 'Nunito',
    sans-serif;
    /* font-weight: bolder; */
}
.main_infor-btn{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    background-color: #EC1F46;
    border-radius: 4px;
    color: #ffffff;
}