body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222;
	
}
.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}


nav {
	float: right;
	margin-top: 50px;

}
.menu {
	padding: 0;
	margin: 0;
	display: block; 	
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;

}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size:75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;

}

.button{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;

}

.title{
	padding-top: 115px;

}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;

}

.title p {
	color: #777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;


}

.services{
	margin-top: 80px; 
	margin-bottom: 120px;

}

.services_item{
	width: 270px;
	float: left;
	text-align: center;

}

.services_item h3{
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p{
	color: #777;
	font-size: 14px;
	
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 60px;
}

#portfolio {
	background: #f7f7f7;
}

.works{
	margin-top: 70px;
}

.works img{
	float: left;
	margin-bottom: 131px;

}

.works img:nth-child(2){
	margin-left: 32px;
}
.works img:last-child{
	float: right;
}



.about_l{
	margin-top: 85px;
	display: block;
	margin-left: 75px;
	clear: right;

}
.about_l_txt{
	width: 250px;
	text-align: right;
	margin-right: 10px;
	float: left;
}
.about_l_txt h3:first-child{
	text-transform: uppercase;
}
.about_l_txt h3{
	margin: 0 ;
	font-size: 18px; 	
	text-align: right;
	line-height: 25px;	
}
.about_l_txt p{
	margin: 0;
	color: #777;
	font-size: 14px;
	text-align: right;
}
.about_l img{	
	margin-left: 40px;
}

.about_r img{
	margin-bottom: 88px;
}


.about_r{
	margin-top: 90px;
	display: block;
	margin-right: 110px;	
}
.about_r_txt{
	width: 250px;
	text-align: left;
	margin-left: 20px;
	float: right;
}
.about_r_txt h3:first-child{
	text-transform: uppercase;
}
.about_r_txt h3{
	margin: 0 ;
	padding: 0;
	font-size: 18px; 	
	text-align: left;
	line-height: 25px;
}
.about_r_txt p{
	padding: 0;
	margin: 0;
	color: #777;
	font-size: 14px;
	text-align: left;
}
.about_r img{
	float: right;	
}

footer p{
	
	margin-top: 370px;
	text-align: center;
	margin-bottom: 100px;
}





