body{
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 0;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	background: url(../img/bg.jpg) no-repeat center top / cover;	
}
.nav{
	padding-top: 57px;
}
.menu1{
	display: inline-block;
}
.button_menu{
	display: inline-block;
}
.line_button{
    width: 19px;
    height: 2px;
    background-color: #1b1c1e;
    margin: 2px 0;
    margin-right: 27px;
}
.txt_menu{
	font-size: 16px;
	display: inline-block;	
}
.txt_menu:nth-child(2){
	margin: 0 35px;
}
.menu1_txt{
	display: inline-block;
}
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
}