<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Golden</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>


	<header>
		<div class="container">
			
			<div class="heading clearfix">
			<img src="img/logo.png" alt="Golden" class="logo"></img>
			<nav>
				<ul class="menu">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Portfolio</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="titles">
			<div class="titles_first">
				Welcome To Our Studio!
			</div>
		
		<h1>
			It's nice to Meet you
		</h1>
		</div>
				<a class="button" href="#">Tell Me More</a>
		</div>
	</header>


	


	<section>
		<div class="container">
			<div class="title">
				<h2>
					 Services
				</h2>
				<p>
					Proin iaculits purus consequat sem cure
				</p>
			</div>
			<div class="services clearfix">
				
				
				<div class="services_item">
					<img src="img/img1.png" alt="услуга">
					<h3>E-Commerce</h3>
					<p>тут должна быть подпись</p>
				</div>
				
				
				<div class="services_item">
					<img src="img/img2.png" alt="услуга">
					<h3>Responsive Web</h3>
					<p>тут должна быть подпись</p>
				</div>
				<div class="services_item">
					<img src="img/img3.png" alt="услуга">
					<h3>Web-Security</h3>
					<p>тут должна быть подпись</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="portfolio">
		<div class="container">
			<div class="title">
				<h2>
					 Our Portfolio
				</h2>
				<p>
					Proin iaculits purus consequat sem cure
				</p>
			</div>
			<div class="works clearfix">
				<img src="img/image1.png" alt="работа">
				<img src="img/imag2.png" alt="работа">
				<img src="img/imag4.png" alt="работа">
			</div>
		</div>
	</section>
	


	





	<section>
		<div class="container">
			<div class="title">
				<h2>
					about us
				</h2>
				<p>
					Proin iaculits purus consequat sem cure
				</p>
			</div>
			<div class="about_l">
				<div class="about_l_txt">
				<h3>july 2010 </h3>
				<h3>Our Humble Beginnings</h3>
				<p>Place for text</p>
				</div>
				<img src="img/IM1.png" alt="о нас">
			</div>
			<div class="about_r">
				<div class="about_r_txt">
				<h3>january 2011</h3>
				<h3>Facing Startup Battles</h3>
				<p>Place for text</p>
				</div>
				<img src="img/IM2.png" alt="о нас">
			</div>
			<div class="about_l">
				<div class="about_l_txt">
				<h3>decemer 2012 </h3>
				<h3>Enter The Dark Days</h3>
				<p>Place for text</p>
				</div>
				<img src="img/IM4.png" alt="о нас">
			</div>
			<div class="about_r">
				<div class="about_r_txt">
				<h3>february 2014</h3>
				<h3>Our Trumph</h3>
				<p>Place for text</p>
				</div>
				<img src="img/IM5.png" alt="о нас">
			</div>
		</div>		
</section>
	
<footer>
	<div class="container"> 
		<p>Copyrigth 2014 FreebiesXpress.com</p>
			
	</div>	
</footer>	



</body>





</html>
